@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --font-sans: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

html,body,#root{height:100%;}
body{
  font-family: var(--font-sans);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

/* Lienzo limpio: puedes añadir utilidades globales aquí */
